@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Oswald';
}

/* Ne pas oublier de rajouter une bordure à la fin ! */

#blocpage{
    width:80%;
    margin: auto;
}

/* Menu */

#container-navigation{
    line-height: 50px;
    display: flex;
    justify-content: center;
}
#container-navigation nav a{
    margin-left: 20px;
    color:black;
}

#logo{
    position: relative;
    top:35px;
}

/* Bannière */
#container-banner{
    margin-top: 30px;
}
#container-banner img {
    max-width: 100%;
}
/* Galerie */

#container-galerie{
    display: flex;
    flex-wrap: wrap;
}
/* Ne pas oublier de mettre en position relative*/ 
#container-galerie .box{
    height: 500px;
    width: 50%;
    position: relative;
}


#container-galerie .box img{
    height: 500px;
    width: 100%;
}



button{
    font-size: 1rem;  
    padding: 20px;
    color:black;
    border:1px solid white;
    border: none;
}

button a {
    color:black;
}

button:hover{
    box-shadow:0px 5px 20px red;
    transition:0.5s;

}

#btn1{
position: absolute;
width: 100px;
left: 50%;
margin-left: -50px;
top: 45%;
margin-top: -50px;
}
#btn2{
    position: absolute;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: 45%;
    margin-top: -50px;
}
#btn3{
position: absolute;
width: 120px;
left: 50%;
margin-left: -50px;
top: 45%;
margin-top: -50px;
}


#btn4{
    position: absolute;
    width: 120px;
    left: 50%;
    margin-left: -50px;
    top: 45%;
    margin-top: -50px;
}

/* Formulaire 1 */
#premierformulaire{
    display: none;
    text-align: center;
    background-size: cover;
    width: 80%;
    margin: auto;
    background-color: black;
position: relative;
top:15px;
padding: 50px;
}

#premierformulaire fieldset legend{
    color: white;
}
#premierformulaire p{
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Fin Formulaire 1 */


/* Formulaire 2 */

#secondformulaire{
    display: none;
    text-align: center;
    background-size: cover;
    width: 80%;
    margin: auto;
    background-color: black;
position: relative;
top:15px;
padding: 50px;
}

#secondformulaire fieldset legend{
    color: white;
}
#secondformulaire p{
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Fin Formulaire 2 */

/* Formulaire 3 */

#troisiemeformulaire{
    display: none;
    text-align: center;
    background-size: cover;
    width: 80%;
    margin: auto;
    background-color: black;
position: relative;
top:15px;
padding: 50px;
}

#troisiemeformulaire fieldset legend{
    color: white;
}
#troisiemeformulaire p{
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Fin Formulaire 3 */

/*Formulaire 4 */

#quatrièmeformulaire{
    display: none;
    text-align: center;
    background-size: cover;
    width: 80%;
    margin: auto;
    background-color: black;
position: relative;
top:15px;
padding: 50px;
}

#quatrièmeformulaire fieldset legend{
    color: white;
}
#quatrièmeformulaire p{
    color:white;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Fin Formulaire 4*/
input[type=submit]{
    margin-bottom: 15px;
}

/* Footer */

#footer{
    height: auto;
    margin-top: 15px;
    text-align: center;
}

#footer p {
    font-size: 2rem;
    position: relative;
    padding: 10px;
}