@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Ne pas oublier de rajouter une bordure à la fin ! */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Oswald';
}


#blocpage
{
    width:80%;
    margin: auto;
    border: 2px solid black;
}

a:visited
{
    color: black;
}

/* Menu */

#container-navigation
{
    line-height: 50px;
    display: flex;
    justify-content: center;
}

#container-navigation nav a

{
    margin-left: 20px;
    color:black;
}

#logo

{
    position: relative;
    top:35px;
}

/* Bannière */
#container-banner
{
    margin-top: 30px;
}

#container-banner img 
{
    max-width: 100%;
   
}

#curl
{

    display: none;
    border-collapse: collapse;
    color:white;
    text-align: center;
    width:80%;
    position: relative;
    top:35px;
    margin: auto;
    margin-left:10%;
    box-shadow: 12px 12px 5px white;
}   

th,td,tr
{
    border: 2px solid white;
    padding: 15px;
}

#resultats
{
    background-color: black;
    height:auto;
  
}

#btn-curl_debout
{
    font-size: 1rem;  
    padding: 40px;
    color:black;
    border:1px solid white;
    border: none;
    margin-left: 45%;
    margin-top: 15px;
}

#btn-curl_debout
{
    box-shadow:0px 5px 20px red;
    transition:0.5s;
}

#btn-curl_debout a

{
    color:black;
}

#développé_couché
{
    display: none;
    border-collapse: collapse;
    color:white;
    text-align: center;
    width:80%;
    position: relative;
    margin-left: 10%;
    margin-top: 10px;
    box-shadow: 12px 12px 5px white;
  
}

th,td,tr
{
    border: 2px solid white;
    padding: 15px;
}


#btn-developpe_couche{
    font-size: 1rem;  
    padding: 40px;
    color:black;
    border:1px solid white;
    border: none;
    margin-left: 45%;
    margin-top:25px;
    margin-bottom: 25px;
}


#btn-developpe_couche:hover
{
    box-shadow:0px 5px 20px red;
    transition:0.5s;
}

#partie_développé_couché
{
    margin-top:5%;
}


/* Fin développé couché */

#développement_des_épaules

{
    display: none;
    border-collapse: collapse;
    color:white;
    text-align: center;
    width:80%;
    position: relative;
    margin-left: 10%;
    margin-top: 10px;
    box-shadow: 12px 12px 5px white;
  
}

th,td,tr
{
    border: 2px solid white;
    padding: 15px;
}


#btn-developpement_des_epaules

{

    font-size: 1rem;  
    padding: 40px;
    color:black;
    border:1px solid white;
    border: none;
    margin-left: 45%;
    margin-top:25px;
    margin-bottom: 25px;
}

#btn-developpement_des_epaules:hover
{

    box-shadow:0px 5px 20px red;
    transition:0.5s;
}


#partie_développement_des_épaules
{

    margin-top:5%;
}

/* Fin développement des épaules

/* Développement des triceps */
#développement_des_triceps

{
    display: none;
    border-collapse: collapse;
    color:white;
    text-align: center;
    width:80%;
    position: relative;
    margin-left: 10%;
    margin-top: 10px;
    box-shadow: 12px 12px 5px white;
  
}

th,td,tr
{
    border: 2px solid white;
    padding: 15px;
}


#btn-developpement_des_triceps
{

    font-size: 1rem;  
    padding: 40px;
    color:black;
    border:1px solid white;
    border: none;
    margin-left: 45%;
    margin-top:25px;
    margin-bottom: 25px;

}

#btn-developpement_des_triceps:hover

{
    box-shadow:0px 5px 20px red;
    transition:0.5s;
}


#partie_développement_des_triceps

{

    margin-top:5%;

}


/* Footer */

#footer
{

    margin-top: 15px;
    text-align: center;
    background-color: white;
}

#footer p 
{
    font-size: 2rem;
    position: relative;
    padding: 10px;
}

#test{
color: white;
}

#test5{
    color:red;
}